<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.mapper.EventMapper">
  <insert id="addEvent" parameterType="event">
    INSERT into tbl_event (title, start_date, end_date)
    VALUES(#{title}, #{startDate}, #{endDate})
  </insert>
  <delete id="removeEvent" parameterType="event">
    DELETE FROM tbl_event
    Where       title = #{title}
      AND       start_date = #{startDate}
      AND       end_date = #{endDate}
  </delete>
  <select id="eventList" resultType="event">
    SELECT title as "title",
           start_date,
           end_date
    FROM  tbl_event
  </select>
  <select id="selectWriter" resultType="map">
    SELECT   user_name as "memberName",
             b.writer as "writer",
             count(1) as "cnt"
    FROM     tbl_board b
    join     tbl_member m
    ON       b.writer = m.user_id
    GROUP BY user_name, b.writer
  </select>
  <!-- 로그정보 생성 -->
  <insert id="insertLogging" parameterType="map">
    INSERT INTO tbl_logging(log_id, req_path, req_host)
    VALUES      (loggin_seq.nextval, #{page}, #{host})
  </insert>
</mapper>